@model AddStoryFormModel

@{
    ViewData["Title"] = "Edit Your Story";
}

<div class="row sec4">
    <div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6 addstory">
        <form method="post">
            <h1>Edit Your story</h1>

            <partial name="_StoryFormPartial" model="@Model" />

            <input class="btnadd" type="submit" value="Edit" />
        </form>
    </div>
</div>


