<section class="sec21">
    <article class="art1sec21">
        <article>
            <img src="/images/plant (1).png" />
        </article>
        <article>
            <p class="headar21"> The zero waste movement is one of the most important ideas launched to save Earth. But what is it exactly? </p>
            Why do we have to save our planet? What is the meaning of zero waste?
            Nowadays, polluting our environment has started to show its impacts. Ice caps are melting, the sea level is rising, while the air we breathe is getting dirtier. Global warming is real and it is threatening us.

            A lot of garbage ends up without recycling. We throw our trash directly into the sea and even into space. We just wanted to get rid of waste, but now we started to realize what we caused. The junk from the deep levels of the ocean get eaten by fishes –
            and now we eat fish that have microplastic in their organism. So in the end, we eat plastic, we eat our own trash.Is that the circle of life we want to live with? What can we do? What can you do?
        </article>
    </article>
    <artticle class="art2sec21">
        <p class="headar21">Zero waste is not only about recycling.</p>
        <p class="headar21">First, we have to understand what zero waste movement is. It is not only about recycling, it is much more than that.</p>
        <p>
            The meaning of zero waste basically refers to the waste that people leave behind. In nature, none of any other species creates waste,
            but humans are able to create trash that does not decompose. And this is dangerous.
        </p>
        <p>
            The accumulation of chemical wastes can break the natural cycle. It was not a big problem until the beginning of the industrial revolution. Garbage swept the streets causing smell, dirt, and pandemic. From the second industrial revolution, people started to collect the wastes and transport them to landfills. And there, we started to burn waste.
            It disappeared, but its greenhouse gas emissions started a very dangerous process: global warming.Today the trash is not in our streets anymore, but it is in our forests, rivers, and seas.

            Zero waste is not only about recycling and lowering the amount of burned waste. It is about generating less waste, and selective waste collection. It is even about the change of the manufacturing process: factories have to make reusable products.

        </p>
        <p>
            Maintaining a zero waste lifestyle
            In order to maintain a zero waste lifestyle, we have to reduce our ecological footprint. Of course, that would be unreal to expect every product to serve its purpose forever. But we should expect that product to be reusable. This is the responsibility of the manufacturers.

            But we have our responsibilities too. And the companies and the governments as well.

            The governments and the companies have to educate first of all themselves, then their employees, then their customers to act environmentally friendly.
            Being eco-friendly is a big employer branding tool nowadays.
        </p>
        <p class="headar21">
            Conclusion
            In the past 300 years, we did everything to damage our environment. We have just started to realize in the past few years that we needed to change our behavior and lifestyle.

            We have a long way ahead to become a zero waste society.
        </p>
    </artticle>
</section>
