@model AddBookFormModel

@{
    ViewData["Title"] = "Admin Add Book";
}

<div class="row sec4">
    <div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6 addstory addbookba">
        <form method="POST" enctype="multipart/form-data">
            <h1>Admin Add Book</h1>

            <partial name="_BookFormPartial" model="@Model" />

            <button class="btnaddbk" type="submit">Add</button>
        </form>
    </div>
</div>
